@font-face {
    font-family: 'YanoneKaffeesatz-VariableFont_wght';
    src: url('../font/YanoneKaffeesatz-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
body{  
    font-family: YanoneKaffeesatz-VariableFont_wght,Times,serif;
}

.logoHaut{
    display: flex;
    justify-content: center;
}

.prenom{
  min-height: 100%;
  min-height: 50; 
  display: flex;
  align-items: center;
}
.nom{
    min-height: 100%;
    min-height: 50; 
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.titre{
    text-align: center;
}
.certif{
    display: flex;
    justify-content: center;
}

.coquillage{
    align-items: flex-end;
}
.imgLotus{
    margin: auto;
}

.test{
    width: 500px;
}

.textePresentation{
    background-color: #fff2b0;
    padding: 2em;
    margin-top: 100px;
    text-align: justify;
    position:absolute;
    width:650px;
    height:390px;
    z-index:2;
    font-size:200%;
    border: solid 1px white;
    
}

.textePresentationPart
{
    background-color: #fff2b0;
    padding: 2em;
    text-align: justify;
    margin-left: 80px;
    width: 500px;
    margin-top:450px;
    position:absolute; 
    z-index:2;
    font-size:200%;
    border: solid 1px white;
   }

.imgCoquillage{
    width: 700px;
    height: auto;
    margin-right: -30px;

}
.imgQueryDisappear{
    display: flex;
    padding-top: 75px;
}
.imgTarif{
    margin: auto;
    width: 500px;
}

.citation{
    display: flex;

    margin-top: 30px;
    background-color: #fad8ea;
    height: 400px;
    width: 100%;
}

.titreCitation{
    margin: auto;
}

.textSoph{
    display: flex;
    justify-content: center;
    
} 

.texteSophro{
    justify-content: center;
    width: 800px;
    background-color: burlywood;
    padding: 50px;
    text-align: justify;
}

.imageSoph{
    display: flex;
    background-color: papayawhip;
    height: 500px;
}

.quiSuisJe{
    display: flex;
    flex-direction: column;
    background-color: silver;
}

.lolottePix{
    margin: auto;
    padding: 50px;
    border-radius: 25% 10%;
}
.presentationLolotte{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    text-align: justify;
} 

.tarifs{
    display: flex;
}

.horaires{
    text-align: center;
    padding-top: 100px;
}

.titreTarif{
    text-align: center;
}

.container-carousel{
    display: flex;
    justify-content: center;
}

.carousel-item{
    width: 400px;
    height: auto;
}

.formulaire{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: ghostwhite;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.9;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;

  }

  .adresse{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .col-md-6{
      width: 500px;
  }

  .inputs{
      margin-top: 50px;
  }

  @media screen and (max-width: 640px) {
    .imgCoquillage {
      visibility: hidden;
    }

   .textePresentation{
        width: 400px;
        height: auto;
        margin-left: 10px;

      } 

    .textePresentationPart{
        margin-top: 550px;
        width: 400px;
        height: auto;
        margin-left: 10px;
    }   
    .quiSuisJe p{
        width: 300px;
    }
    .presentationLolotte{
        padding-left : 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
   
    .horaires 
    {
    padding-left: 0px;
    margin-left: 0px;
    }
    .tarifs{
        flex-direction: column;
    }

  }
  
  #success_message{ display: none;}