@font-face {
    font-family: 'YanoneKaffeesatz-VariableFont_wght';
    src: url('../font/YanoneKaffeesatz-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
body{  
    font-family: YanoneKaffeesatz-VariableFont_wght,Times,serif;
    /* background-color: #f6ead4; */
}
.contentJumbo{
    background-color: #a2a595;
}
.logoHaut{
    display: flex;
    justify-content: center;
}

.mailLolotte{
    color: black;
}

.prenom{
  min-height: 100%;
  min-height: 50; 
  display: flex;
  align-items: center;
}
.nom{
    min-height: 100%;
    min-height: 50; 
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.titre{
    text-align: center;
}
.certif{
    display: flex;
    justify-content: center;
}

.coquillage{
    align-items: flex-end;
}
.imgLotus{
    margin: auto;
}

.imgCailloux{
    width: 500px;
}

.textePresentation{
    background-color: #a2a595;
    padding: 2em;
    margin-top: 100px;
    text-align: justify;
    position:absolute;
    width:650px;
    height:390px;
    z-index:2;
    font-size:200%;
    border: solid 1px white;
    color: #f0ede5;
    
}

.textePresentationPart
{
    background-color: #f6ead4;
    padding: 2em;
    text-align: justify;
    margin-left: 80px;
    width: 500px;
    margin-top:450px;
    position:absolute; 
    z-index:2;
    font-size:200%;
    border: solid 1px white;
    color: #8b8b89;
   }

.imgCoquillage{
    width: 700px;
    height: auto;
    margin-right: -30px;

}
.imgQueryDisappear{
    display: flex;
    padding-top: 75px;
}
.imgTarif{
    margin: auto;
    width: 500px;
}

.citation{
    display: flex;
    margin-top: 30px;
    background-color: #a2a595;
    height: 400px;
    width: 100%;
    color: #f6ead4;
}

.titreCitation{
    margin: auto;
}

.textSoph{
    display: flex;
    justify-content: center;
    
} 

.texteSophro{
    justify-content: center;
    width: 800px;
    background-color: #b4a284;
    padding: 50px;
    text-align: justify;
    color: #f6ead4;
}

.imageSoph{
    display: flex;
    background-color: #a2a595;
    height: 500px;
}

.quiSuisJe{
    display: flex;
    flex-direction: column;
    background-color: #f6ead4;
    color: #a2a595;
}

.lolottePix{
    margin: auto;
    padding: 50px;
    border-radius: 25% 10%;
}
.presentationLolotte{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    text-align: justify;
} 

.tarifs{
    display: flex;
}

.horaires{
    text-align: center;
    padding-top: 100px;
}

.titreTarif{
    text-align: center;
}

.container-carousel{
    display: flex;
    justify-content: center;
}

.carousel-item{
    width: 400px;
    height: auto;
}

.carousel-inner{
    width: 400px;
    height: 500px;
}

.formulaire{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: ghostwhite;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.9;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;

  }

  .adresse{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .col-md-6{
      width: 500px;
  }

  .inputs{
      margin-top: 50px;
  }

#fh5co-main {
  
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-main .fh5co-narrow-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 4em 0;
}
.form-control{
     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
  height: 54px !important;
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px !important;
}
#message {
  height: 130px !important;
}
.btn.btn-md {
  padding: 10px 25px !important;
}
.btn-primary {
  background: #a2a595 !important;
  color: #fff !important;
  border: 2px solid #a2a595 !important;
  border-radius: 0px !important;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
}

.fab
{
  color: #fff;
  background: #232323;
  padding: 0.65rem;
  border-radius: 50%;
}

.fa-instagram {
  border: 3px solid black;
}
.fa-facebook {
    border: 3px solid #1877f2;
  }

.fa-instagram,
.fa-facebook
 {
  font-size: 40px;
  transition: all 0.2s ease;
}

.fab:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.fa-instagram:hover {
  background: black;
}
.fa-facebook:hover {
    background: #1877f2;
  }

.textInput{
  height: 100px;
}
.clear{
  display: flex;
}
.contentAllInputs{
  display: flex;
}

.contentContact{
  
  display: flex;
  background-color: #f6ead4;
  height: 200px;
  width: 100%;
}

.contentContactCenter{
  margin: auto;
}
#mc_embed_signup{
  margin-top: -100px;
}

#mc_embed_signup .indicates-required{
  text-align: left !important;
}

@media (max-width: 450px) {

  .titreCitation {
    margin-left: 30px;
    text-align: center;
  }
  .presentationLolotte{
      padding-left : 20px;
      margin-left: 60px;
      margin-right: 20px;
      width: 300px;
  }
  .imgQueryDisappear{
    display: none;
  }
  .horaires{
    margin-left: 110px;
  }
  .contentContact{
    height: 250px;
  }
  .contentContactCenter{
    margin-top: 20px;
  }
  .fa-instagram,
  .fa-facebook
   {
    font-size: 20px;
   }
   .clear{
     justify-content: center;
   }
   .imgCailloux{
    width: 300px;
  }
  .textePresentation{
    margin-top: -30px;
    width: 400px;
    height: auto;
    margin-left: 10px;
    } 

  .textePresentationPart{
    margin-top: 450px;
    width: 400px;
    height: auto;
    margin-left: 10px;
}   
.firstCitation{
  margin-top: 490px;
}

 
  .imgCoquillage {
    width: 300px;
    visibility: hidden;
  }
  .quiSuisJe p{
    width: 300px;
}
/* .texteSophro{
  margin-top: 100px;
  width: 600px;
} */
}