jumbotron{
    text-align: center;
}



.imgCoquillage{
    width: 500px;
    height: auto;
    margin-right: 10px;
}

.coquillage{
    align-items: flex-end;
}

.textePresentation{
    background-color: black;
}